[submodule "JobsGitRemoteCopier"]
	path = JobsGitRemoteCopier
	url = ../JobsGitRemoteCopier.git
	branch = main
[submodule "JobsGitRemoteOpener"]
	path = JobsGitRemoteOpener
	url = ../JobsGitRemoteOpener.git
	branch = main
[submodule "JobsPathCopier"]
	path = JobsPathCopier
	url = ../JobsPathCopier.git
	branch = main
[submodule "JobsTerminalOpener"]
	path = JobsTerminalOpener
	url = ../JobsTerminalOpener.git
	branch = main
